
.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas: "header-menu header-menu" 
                          "coluna-1 coluna-2";   
  }
  
  .header {
    grid-area: header-menu; 

    &__logo {
      font-family: 'Lemon', cursive;
      margin: 2rem 2rem;
      color: $color-primary;
      text-shadow: 0 0 3px $color-secondary;
      font-size: 5rem;

      @media (max-width: 769px) {
        font-size: 3rem;
      }
    }
  }

  .coluna-1 {
    grid-area: coluna-1; 
  }
  
  .coluna-2 {
    grid-area: coluna-2;
    background-color: #2D2D2D; 
  }
  
  @media (max-width: 769px) {
    .wrapper {   
      grid-template-columns: 1fr;    
      grid-row-gap: 0;
      grid-template-areas: "header-menu"
                            "coluna-1" 
                            "coluna-2";     
    }
    
    .coluna-1 {
      margin-bottom: 50px;
    }
           
  }
  