
.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 1 / 1;
    grid-column-gap: 10px;
    grid-template-areas: "coluna-1 coluna-2";
    position: relative;
  }
  
  .coluna-1 {
    grid-area: coluna-1; 
  }
  
  .coluna-2 {
    grid-area: coluna-2;
    background-color: #174691; 
  }
  
  @media (max-width: 769px) {
    .wrapper {   
      grid-template-columns: 1fr;    
      grid-row-gap: 0;
      grid-template-areas: "coluna-1" 
                            "coluna-2";     
    }
    
    .coluna-1 {
      margin-bottom: 50px;
    }
    
    .coluna-2 {
      position: fixed;
      left: 0;
      height: 50px;
      bottom: 0;
      width: 100%;
      background-color: #FFF;
      border-top: 1px solid #999;
    }
       
  }
  